[submodule "upstream/instant"]
	path = upstream/instant
	url = https://github.com/instantdb/instant.git
[submodule "upstream/sqlite-data"]
	path = upstream/sqlite-data
	url = https://github.com/pointfreeco/sqlite-data.git
[submodule "upstream/sharing-instant"]
	path = upstream/sharing-instant
	url = git@github.com:technoplato/sharing-instant.git
[submodule "upstream/instant-ios-sdk"]
	path = upstream/instant-ios-sdk
	url = git@github.com:technoplato/instant-ios-sdk.git
